.wallet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 32px 0 0;

  @media (max-width: 768px) {
    width: 100%;
    margin: 8px 0 16px;
  }

  &__input {
    margin-top: 8px;
    padding: 14px 0 14px 16px;
    height: 48px;
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    border-radius: 5px;
  }
}
